<%if flash[:success]%>
  <div class="alert-success alert">  <%=flash[:success]%> </div>
<%end%>

<div class="row text-left">
  <div class="col-sm-12">
    <small class=""> 
      <a href="<%=edit_post_path(@post.id)%>">Editer</a>
      <a href="<%=post_path(@post.id)%>"
      class="text-danger" data-confirm="Voulez-vous réèlement supprimer cette publiction?"
      data-method="DELETE">Supprimer</a>
    </small>
  </div>
</div>


<div class="row text-center">
  <div class="col-sm-12">
    <p class=""> <%=@post.content%> </p>
    <small>
      <a href="<%=posts_path%>">Revenir en arrière</a>
    </small>
  </div>
</div>